.rangeContainer {
}

.inputContainer {
  display: block;
  width: 100%;
}

.rangeInput {
  display: block;
  width: 100%;
}

.form {
  max-width:400px;
}

body {
  word-wrap: break-word;
}

* {
  font-family: 'Open Sans', sans-serif;
}
