.scale {
  background: var(--scale-color, rgba(0, 0, 0, 0.6));
  &.horizontal {
    height: 2px;
    width: 100%;
  }
  &.vertical {
    width: 2px;
    height: 100%;
    grid-row: 2 / span 3;
    grid-column-start: 2;
  }
}

.caption {
  font-size: 2rem;
  grid-column: 1 / -1;
}

.graph {
  width: 100%;
  height: 200px;
}