.violin {
  height: 50px;
}

.figure {
  all: unset;
  display: block;
  display: grid;
  gap: 20px;
  &.row {
    grid-auto-flow: row dense;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto repeat(3, 1fr) auto;
  }
}

.label {
  align-self: center;
  font-size: 1.2rem;
}

.xScale {

}

.yScale {

}

.svg {
  width: 100%;
  height: 100%;
  fill: #000;
}
