@use './grid.scss';
@use './colors.scss';

%common {
  line-height: calc(1em + 4px);
  word-break: break-word;
};

%h900 {
  @extend %common;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -0.16px;
  color: colors.$N800;
  /*
  &.gutterBottom {
    padding-bottom: grid.$unit * 6.5;
  }*/
}

%h800 {
  @extend %common;
  font-size: 29px;
  font-weight: 500;
  letter-spacing: -0.16px;
  color: colors.$N800;
  /*&.gutterBottom {
    padding-bottom: grid.$unit * 5;
  }
  &.longForm {
    &.gutterBottom {
      padding-bottom: grid.$unit * 6; 
    }
  }*/
}

%h700 {
  @extend %common;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.16px;
  color: colors.$N800;
  /*&.gutterBottom {
    padding-bottom: grid.$unit * 5;
  }*/
}

%h600 {
  @extend %common;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.128px;
  color: colors.$N800;
  /*&.gutterBottom {
    padding-bottom: grid.$unit * 3.5;
  }
  &.longForm {
    &.gutterBottom {
      padding-bottom: grid.$unit * 4.5;  
    }
  }*/
}

%h500 {
  @extend %common;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.096px;
  color: colors.$N800;
  /*&.gutterBottom {
    padding-bottom: grid.$unit * 3;
  }
  &.longform {
    line-height: 24px;
    &.gutterBottom {
      padding-bottom: grid.$unit * 4;
    }
  }*/
}

%h400 {
  @extend %common;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.048px;
  color: colors.$N800;
  /*&.gutterBottom {
    padding-bottom: grid.$unit * 2;
  }
  &.longForm {
    line-height: 20px;
    &.gutterBottom {
      padding-bottom: grid.$unit * 3; 
    }
  }*/
}

%h300 {
  @extend %common;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  color: colors.$N800;
  /*&.gutterBottom {
    padding-bottom: grid.$unit * 2.5;
  }*/
}

%h200 {
  @extend %common;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  color: colors.$N200;
  /*&.gutterBottom {
    padding-bottom: grid.$unit * 2;
  }*/
}

%h100 {
  @extend %common;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  color: colors.$N200;
  /*&.gutterBottom {
    padding-bottom: grid.$unit * 2;
  }*/
}

%content {
  @extend %common;
  font-size: 14px;
}