@use "./colors.scss";
@use './grid.scss';

.h900 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 40px;
  color: colors.$N800;
  &.margin {
    margin-top: grid.$unit * 6.5;
  }
}

.h800 {
  font-size: 29px;
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 32px;
  color: colors.$N800;
  &.margin {
    margin-top: grid.$unit * 5;
  }
  &.longForm {
    &.margin {
      margin-top: grid.$unit * 6; 
    }
  }
}

.h700 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 28px;
  color: colors.$N800;
  &.margin {
    margin-top: grid.$unit * 5;
  }
}

.h600 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.128px;
  line-height: 24px;
  color: colors.$N800;
  &.margin {
    margin-top: grid.$unit * 3.5;
  }
  &.longForm {
    &.margin {
      margin-top: grid.$unit * 4.5;  
    }
  }
}

.h500 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.096px;
  line-height: 20px;
  color: colors.$N800;
  &.margin {
    margin-top: grid.$unit * 3;
  }
  &.longform {
    line-height: 24px;
    &.margin {
      margin-top: grid.$unit * 4;
    }
  }
}

.h400 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.048px;
  line-height: 16px;
  color: colors.$N800;
  &.margin {
    margin-top: grid.$unit * 2;
  }
  &.longForm {
    line-height: 20px;
    &.margin {
      margin-top: grid.$unit * 3; 
    }
  }
}

.h300 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 16px;
  color: colors.$N800;
  &.margin {
    margin-top: grid.$unit * 2.5;
  }
}

.h200 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16px;
  color: colors.$N200;
  &.margin {
    margin-top: grid.$unit * 2;
  }
}

.h100 {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  color: colors.$N200;
  &.margin {
    margin-top: grid.$unit * 2;
  }
}