@use "./grid";
@use "./colors";
@import "./fonts.scss";

p, h1, h2, h3, h4, h5, h6 {
  all: unset;
  display: block;
}

.p {
  @extend %content;
  &.gutterBottom {
    margin-bottom: grid.$unit * 2;
  }
}

%ellipsisTruncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  min-width: 0;
}

%pageHeaderGutters {
  &.gutterBottom {
    margin-bottom: grid.$unit * 4;
  }
}

.page {
  .h1 {
    @extend %h700;
    @extend %ellipsisTruncate;
    @extend %pageHeaderGutters;
  }
  .h2 {
    @extend %h500;
    @extend %ellipsisTruncate;
    @extend %pageHeaderGutters;
  }

  .header, .hgroup {
    @extend %pageHeaderGutters;
    .h1 {
      margin-bottom: grid.$unit;
    }
  }
}

.panel {
  padding: grid.$unit * 3;
  box-sizing: border-box;
  border: 1px solid colors.$N40;
  border-radius: 8px;
  @extend .section;
}

.dt {
  @extend %h200;
}

.dl {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.dd {
  @extend %content;
  margin-inline-start: 0px;
  &:not(:last-child) {
    margin-bottom: grid.$unit;
  }
}

.section {
  .h1 {
    @extend %h600;
    &.gutterBottom {
      margin-bottom: grid.$unit;
    }
  }
  &.gutterBottom {
    margin-bottom: grid.$unit * 5;
  }
  .section {
    .h1 {
      @extend %h500;
    }

    &.gutterBottom {
      margin-bottom: grid.$unit * 4;
    }

    .section {
      .h1 {
        @extend %h400;
      }

      &.gutterBottom {
        margin-bottom: grid.$unit * 3;
      }
    }
  }
}

.footnote {
  @extend %h100;
}

.ol, .ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: grid.$unit * 5 1fr;
  column-gap: grid.$unit;
  padding-inline-start: unset;
  margin-block-start: unset;
  margin-block-end: unset;

  .li {
    font-size: 14px;
    @extend %common;
  }
}

.ol {
  counter-reset: li-number;
  .li::before {
    direction: rtl;
    content: "." counter(li-number);
    counter-increment: li-number;
    text-align: right;
  }
  .li {
    display: contents;
  }
}

.ul {
  .li::before {
    content: "•";
    text-align: right;
    display: inline-block;
  }
  .li {
    display: contents;
  }
}

/*
::slotted(shaw-section) {
}
*/
