{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "src": "./src"
      }
    }]
  ],
  "sourceMaps": true,
  "env": {
    "production": {
      "minified": true
    }
  }
}