{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "@pshaw/eslint-config-core",
    "@pshaw/eslint-config-react",
    "@pshaw/eslint-config-typescript",
    "plugin:jest/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
      "browser": true,
      "amd": true,
      "node": true,
      "es6": true,
      "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": "off",
    "jest/valid-describe": "off"
  },
  "overrides": [{
    "files": [ "**/examples/**" ],
    "rules": {
      "no-console": "off",
      "@typescript-eslint/no-var-requires": "off"
    }
  }, {
    "files": ["**/test/**", "build-packages/**", "**/*.config.js", "**/gulpfile.js"],
    "rules": {
      "@typescript-eslint/no-var-requires": "off"
    }
  }]
}