# Originally from https://github.com/yarnpkg/berry/blob/master/.gitattributes
# This line does two things:
# - forces git to use LF
# - tell git to guess whether files are text or binary
*                       text=auto eol=lf

# Set Yarn to use LFS for bundled files
/.yarn/releases/** binary
/.yarn/cache/** binary
/.yarn/plugins/** binary
/.yarn/sdks/** binary

/.yarn/** linguist-vendored
/.pnp.* binary linguist-generated

yarn.lock merge=yarn

# Set the language for these files to json5 to ensure GitHub doesn't show the comments as errors
/.vscode/*.json         linguist-language=JSON5
