# Originally from https://github.com/yarnpkg/berry/blob/master/.gitattributes
# This line does two things:
# - forces git to use LF
# - tell git to guess whether files are text or binary
*                       text=auto eol=lf

yarn.lock merge=yarn
