[workspace]
members = [
    "./packages/scriptplan/rust/scriptplan",
    "./packages/cinder/rust/core"
]

# TODO: Copied from Arduino, should probably not be just called "dev"/"release"
[profile.dev]
panic = "abort"
lto = true
opt-level = "s"

[profile.release]
panic = "abort"
codegen-units = 1
debug = true
lto = true
opt-level = "s"
