.inputValue {
  width: 62px;
}

.inputContainer {
  display: flex;
  width: 100%;
  gap: 24px;
}

.rangeInput {
  display: block;
  width: 100%;
}

label {
  display: block;
}

form {
  max-width:400px;
}

label {
  margin-top: 16px;
}

body {
  word-wrap: break-word;
  padding: 62px;
}

* {
  font-family: 'Inter', sans-serif;
}

button + button {
  margin-left: 8px;
}

$primary: #ffae00;
button {
  margin-top: 8px;
  padding: 8px 16px;
  border: 0px;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
  background: none;
  text-transform: uppercase;
  color: $primary;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

button[type="submit"]:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
}

button[type="submit"] {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
  background: $primary;
  color: initial;
}
