name: Publish JavaScript package

env:
  NODE_ENV: production

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14
    - run: yarn install --immutable
    - run: ./scriptplan-linux-gnu run:buildplan prepublish
    - run: yarn version check
    - run: yarn version apply
      env:
        NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
